Repository wearerequired/traduttore, pull requests merged in 2018-11, with the labels that each got.

#89 Ensure we pass around Project instances everywhere
  docs/hooks.md
  inc/Plugin.php
  inc/Project.php
  inc/Updater.php
  tests/phpunit/tests/Project.php
Labels: [Component] CLI, [Type] Bug

#87 Update changelog for 3.0 update
  CHANGELOG.md
Labels: [Component] Docs

#98 Set addUncoveredFilesFromWhitelist to false
  phpunit.xml.dist
Labels: [Component] Tests

#99 Run "composer normalize" in lint stage
  .travis.yml
Labels: [Component] Tests, [Type] Enhancement

#101 Improve repository name extraction from source url template
  inc/Repository/Bitbucket.php
  inc/Repository/GitHub.php
  inc/Repository/GitLab.php
  tests/phpunit/tests/Repository/Bitbucket.php
  tests/phpunit/tests/Repository/GitHub.php
  tests/phpunit/tests/Repository/GitLab.php
Labels: [Type] Bug

#91 Support per-project webhook secrets
  docs/hooks.md
  inc/Project.php
  inc/WebhookHandler/Base.php
  inc/WebhookHandler/Bitbucket.php
  inc/WebhookHandler/GitHub.php
  inc/WebhookHandler/GitLab.php
Labels: [Component] API, [Type] Enhancement

#96 Add new info command
  CHANGELOG.md
  docs/cli.md
  inc/CLI/InfoCommand.php
  traduttore.php
Labels: [Component] CLI, [Type] Enhancement

#110 Project CLI command
  inc/CLI/BuildCommand.php
  inc/CLI/ProjectCommand.php
  inc/CLI/UpdateCommand.php
  traduttore.php
Labels: [Component] CLI, [Type] Enhancement

#115 Add text domain to project info output
  inc/CLI/ProjectCommand.php
Labels: [Component] CLI, [Type] Enhancement

#116 Improve test coverage for ZipProvider
  tests/phpunit/tests/ZipProvider.php
Labels: [Component] Tests

#118 Test coverage improvements
  inc/Plugin.php
  inc/Project.php
  inc/Repository/Base.php
  inc/Repository/Bitbucket.php
  inc/Repository/GitHub.php
  inc/Repository/GitLab.php
  inc/WebhookHandler/GitLab.php
  phpunit.xml.dist
  tests/phpunit/tests/Configuration.php
  tests/phpunit/tests/Loader/Git.php
  tests/phpunit/tests/Loader/Mercurial.php
  tests/phpunit/tests/Loader/Subversion.php
  tests/phpunit/tests/LoaderFactory.php
  tests/phpunit/tests/Project.php
  tests/phpunit/tests/ProjectLocator.php
  tests/phpunit/tests/Repository/Bitbucket.php
  tests/phpunit/tests/Repository/GitHub.php
  tests/phpunit/tests/Repository/GitLab.php
  tests/phpunit/tests/RepositoryFactory.php
  tests/phpunit/tests/RestrictedSiteAccess.php
  tests/phpunit/tests/Runner.php
  tests/phpunit/tests/TestCase.php
  tests/phpunit/tests/TranslationApiRoute.php
  tests/phpunit/tests/Updater.php
  tests/phpunit/tests/WebhookHandler/Bitbucket.php
  tests/phpunit/tests/WebhookHandler/GitHub.php
  tests/phpunit/tests/WebhookHandler/GitLab.php
  tests/phpunit/tests/WebhookHandler/LegacyGitHub.php
  tests/phpunit/tests/ZipProvider.php
Labels: [Component] Tests

#120 Store last updated time in database
  inc/CLI/ProjectCommand.php
  inc/Project.php
  inc/Updater.php
  tests/phpunit/tests/Project.php
  tests/phpunit/tests/Updater.php
Labels: [Component] CLI, [Type] Enhancement

#122 Filter zip location
  docs/hooks.md
  inc/ZipProvider.php
Labels: [Component] Docs, [Type] Enhancement

#108 Include translations for JavaScript files in language packs
  inc/Export.php
  inc/ZipProvider.php
  tests/phpunit/tests/Export.php
Labels: [Priority] High, [Type] Enhancement
